@{
    ViewBag.Title = "Administrative Tools";
}

<h2>Administrative Tools</h2>
<table>
    <tr>
        <a href="@Url.Action("Index","Users", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
            View Users
        </a>
    </tr>
    <tr>
        <a href="@Url.Action("Create","Booking", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
            Book a Court
        </a>
    </tr>
    <tr>
        <a href="@Url.Action("Create","Booking", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
            Book a Court
        </a>
    </tr>
    <tr>
        <a href="@Url.Action("Create","Booking", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
            Book a Court
        </a>
    </tr>
    <tr>
        <a href="@Url.Action("Create","Booking", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
            Book a Court
        </a>
    </tr>
    <tr></tr>


</table>

@*@using (Html.BeginForm())
{
    @Html.TextBox((string)ViewBag.NewsItemOne)
    <input type="submit" value="Submit" />
}*@
