@model TotalSquashNext.Models.User


@{
    ViewBag.Title = "Your Total Squash Home";
}
@{
    Layout = null;
}


<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Total Squash</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="layout" content="main" />

    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script src="../../js/jquery/jquery-1.8.2.min.js" type="text/javascript"></script>
    <link href="~/Content/customize-template.css" type="text/css" media="screen, projection" rel="stylesheet" />
    <style>
    </style>
</head>

<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                @Html.ActionLink("Total Squash", "LandingPage", "Login", null, new { @class = "brand" })
                <ul class="nav pull-right">
                    <li>
                        @Html.ActionLink("Logout", "VerifyLogin", Session["currentUser"] == null)
                    </li>

                </ul>
            </div>
        </div>
    </div>
    <div id="body-container">
        <div id="body-content">

            <div class="body-nav body-nav-horizontal body-nav-fixed">
                <div class="container">
                    <ul>
                        <li>
                            <a href="~/Booking/Create">
                                <i class="icon-calendar icon-large"></i>
                                <span class="sr-only">Book a Court</span>
                            </a>
                        </li>

                        <li>

                            <a href="@Url.Action("Edit","Users", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
                                <i class="icon-cogs icon-large"></i>
                                <span class="sr-only">Edit</span>
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Ladder","Ladders", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
                                <i class="icon-list-alt icon-large"></i>
                                <span class="sr-only">Squash Ladder</span>
                            </a>
                        </li>
                        <li>

                            <a href="@Url.Action("Statistics","Statistics", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
                                <i class="icon-bar-chart icon-large"></i>
                                <span class="sr-only">Statistics</span>
                            </a>
                        </li>
                        <!--Shows link to administration only, for easy navigation to court booking rules, ladder rules, etc.-->
                        @if ((((TotalSquashNext.Models.User)Session["currentUser"]).accountId == 1))
                        {
                            <li>

                                <a href="@Url.Action("Administrative Tools","AdministrativeTools", new { id = (((TotalSquashNext.Models.User)Session["currentUser"]).id) })">
                                    <i class="icon-bar-chart icon-large"></i>
                                    <span class="sr-only">Administrative Tools</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>


            <section class="nav nav-page">
                <div class="container">
                    <div class="row">
                        <div class="span7">
                            <header class="page-header">
                                <h3>
                                    Welcome @(((TotalSquashNext.Models.User)Session["currentUser"]).firstName) </br>
                                    <small>@Session["currentOrg"]</small>
                                </h3>
                            </header>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page container">

                <div class="span8">
                    <div>
                        <!--<legend class="lead">
                            Welcome Norbert Mika
                        </legend>-->

                        <p>
                            <img src=@Session["currentImage"]></br>
                            Username: @(((TotalSquashNext.Models.User)Session["currentUser"]).username)</br>
                            Level: @Session["currentSkill"]
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="span8">
                        <div class="box pattern pattern-sandstone">
                            <div class="box-header">
                                <i class="icon-list"></i>
                                <h5>Recent Matches</h5>
                                <button class="btn btn-box-right" data-toggle="collapse" data-target=".box-list">
                                    <i class="icon-reorder"></i>
                                </button>
                            </div>
                            <div class="box-content box-list collapse in">
                                <!--foreach loop of games played-->
                                <ul>
                                    <li>
                                        <div>
                                            <a href="#" class="news-item-title">February 5th, 2015</a>
                                            <p class="news-item-preview">BIG Win Against: Paul Stanley Score: 15-0</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#" class="news-item-title">January 28th, 2015</a>
                                            <p class="news-item-preview">Crushing Defeat at the hands of: Peter Griffin Score: 0-15</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#" class="news-item-title">January 14th, 2015</a>
                                            <p class="news-item-preview">Mopped the Floor With: Gilbert Godfried Score: 15-9</p>
                                        </div>
                                    </li>
                                </ul>
                                <div class="box-collapse">
                                    <button class="btn btn-box" data-toggle="collapse" data-target=".more-list">
                                        Show More
                                    </button>
                                </div>
                                <ul class="more-list collapse out">
                                    <li>
                                        <div>
                                            <a href="#" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                                            <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                                            <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <a href="#" class="news-item-title">Duis aute irure dolor in reprehenderit</a>
                                            <p class="news-item-preview">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="box">
                            <div class="box-header">
                                <i class="icon-book"></i>
                                <h5>Book a Court</h5>
                            </div>
                            <div class="box-content">

                                @*<form class="form-inline">*@
                                    <p>Pick a date & Time</p>
                                    <tr>
                                        @using (Html.BeginForm())
                                        {
                                            
                                            <td>
                                                @*@Html.TextBoxFor(b => b.date, new { @class = "form-control" })*@
                                            </td>
                                            <td>
                                                <input type="submit" value="Check Date" class="btn-xs" style="margin-top:1em;" />
                                            </td>
                                        }
                                    </tr>
                                    @*<div id="datepicker" class="input-prepend date">
                                        <span class="add-on"><i class="icon-th"></i></span>
                                        <input class="span2" type="text" value="Today's date...'">
                                    </div>
                                    <select class="chosen span4" data-placeholder="Choose a Time...">
                                        <option value="530">5:30am-6:15am</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value="United States">9:00-9:45am</option>
                                        <option value="United Kingdom">9:45-10:30am</option>
                                        <option value="Afghanistan">10:30-11:15am</option>
                                        <option value="Albania">11:15am-12:00pm</option>
                                        <option value="Algeria">12:00-12:45pm</option>
                                        <option value="American Samoa">12:45-1:30pm</option>
                                        <option value="Andorra">1:30-2:15pm</option>
                                        <option value="Angola">etc...</option>

                                    </select>
                                </form>*@
                            </div>
                            <div class="box-footer">
                                <a href="booking.html" class="btn btn-primary">
                                    <i class="icon-ok"></i>
                                    Check Availabilty
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="span8">
                        <div class="box pattern pattern-sandstone">
                            <div class="box-header">
                                <i class="icon-table"></i>
                                <h5>
                                    Booked Court Dates
                                </h5>
                            </div>
                            <div class="box-content box-table">
                                <table id="sample-table" class="table table-hover table-bordered tablesorter">
                                    <thead>
                                        <tr>
                                            <th>Court</th>
                                            <th>Date & Time</th>
                                            <th class="td-actions"></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>4</td>
                                            <td>February 16th, 2015 4:00-4:45pm</td>
                                            <td class="td-actions">
                                                <a href="javascript:;" class="btn btn-small btn-danger">
                                                    <i class="btn-icon-only icon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>March 23rd, 2015 2:15-3:00pm</td>
                                            <td class="td-actions">
                                                <a href="javascript:;" class="btn btn-small btn-danger">
                                                    <i class="btn-icon-only icon-remove"></i>
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="span8">
                        <div class="box">
                            <div class="box-header">
                                <i class="icon-folder-open"></i>
                                <h5>News</h5>
                            </div>
                            <div class="box-content">
                                <p>
                                    Here is some sample news text, all kinds of stuff happens all of the time and this will be a good spot to keep users up to date about whats going on.
                                </p>
                                <p>
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                    fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                    qui officia deserunt mollit anim id est laborum.
                                </p>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer class="application-footer">
        <div class="container">
            <p>Application Footer</p>
            <div class="disclaimer">
                <p>This is an example disclaimer. All right reserved.</p>
                <p>Copyright © Super Done Solutions 2015</p>
            </div>
        </div>
    </footer>

    <script src="../../js/bootstrap/bootstrap-transition.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-alert.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-modal.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-scrollspy.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-tab.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-tooltip.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-popover.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-button.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-collapse.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-carousel.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-typeahead.js" type="text/javascript"></script>
    <script src="../../js/bootstrap/bootstrap-affix.js" type="text/javascript"></script>
    @*<script src="../../js/bootstrap/bootstrap-datepicker.js" type="text/javascript"></script>*@
    <script src="../../js/jquery/jquery-tablesorter.js" type="text/javascript"></script>
    <script src="../../js/jquery/jquery-chosen.js" type="text/javascript"></script>
    <script src="../../js/jquery/virtual-tour.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {
            $('#sample-table').tablesorter();
            //$('#datepicker').datepicker();
            $(".chosen").chosen();
        });
    </script>

</body>
</html>