@model TotalSquashNext.Models.UserLadder

@{
    ViewBag.Title = string.Format("{0} Ladder",Model.Ladder.ladderDescription);
}

<h2>@ViewBag.Title</h2>

<div>
    @*<h4>UserLadder</h4>*@
    <hr />
    <dl class="dl-horizontal" id="e4">
        <dt>
            @Html.DisplayNameFor(model => model.position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ladder.ladderDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ladder.ladderDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.username)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
