@model TotalSquashNext.Models.BookingRule

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BookingRule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.organizationID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.organizationID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.daysInAdvance)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.daysInAdvance)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numOfBookings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfBookings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.numOfStrikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.numOfStrikes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dayStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dayStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bookingLength)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bookingLength)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.bookingRuleId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
